
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #FFFFF0;
            min-height: 100vh;
        }
        header {
            background-color: #BEBEBE;
            color: #000000;
            padding: 20px;
            text-align: center;
        }
        nav {
            margin-top: 10px;
        }
        nav a {
            color: #000000;
            margin: 0 15px;
            text-decoration: none;
        }
        nav a:hover {
            text-decoration: underline;
        }
        .container {
            max-width: 1000px;
            margin: 20px auto;
            padding: 0 20px;
        }
        article {
            background: #CDC5BF;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
        }
        article h2 {
            margin-top: 0;
            
        }
        footer {
            background-color: #BEBEBE;
            color: #000000;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        section:last-of-type{
            margin-bottom: 100px;
        }
